.leftBar {
  flex: 2;
  position: sticky;
  top: 70px; //set position right under header
  height: calc(100vh - 70px); //header is 70 px: 50 px height, 10 padding bottom and top
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 20px;

    hr {
      margin: 1rem 0px;
      border: none;
      height: 0.5px;
      background-color: lightgray;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-style: 12px;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-style: 14px;
        }
      }
      .menuItem {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          font-style: 14px;
        }
      }
    }
  }
}
